html,

h1{
  height: 50px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

body {
  background: var(--default);
}

:root {
  --default: #121213;
  --empty: #3a3a3c;
  --wrong: #b59f3b;
  --right: #538d4e;
  --select: #565758;
  --unused:#818384;
}

#upperbar {

margin-bottom: 2.5rem;

}


#game {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72vh;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
  margin-top: 35px;
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--empty);
  margin: 4px;
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
}

.box.select{
    
    border: 2px solid var(--select);
    animation: selected 0.3s ease-in-out;
}



    
.keyboard-button.empty {
    background-color: var(--empty);
  }


  .keyboard-button.wrong {
    background-color: var(--wrong);
  }


  .keyboard-button.right {
    background-color: var(--right);
  }

.box.empty {
  background: var(--empty);
}

.box.wrong {
  background: var(--wrong);
  }

.box.right {
  background: var(--right);
  
}

.animated {
  animation: flip 0.5s ease;
}


@keyframes selected {
    0%{
        margin: 4px;
    }

    50%{
        margin: 2.5px;
    }

    100%{
        margin: 4px ;
    }
    
}


.message-container{
  height: 50px;
  margin-top: 5px;
}


.message-container p{
  background: #818384;
  border-radius: 5px;
  padding: 5px;
  margin: 0px;  
}



.keyboard{

  display: inline-flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;

}

.keyboard-button{
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: var(--unused);
  color: #ffffff;
  margin: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.row2 button:nth-child(1) {
  margin-left: 15px;
}

.row3 button:nth-child(1){
  width: 65px;
}


.row3 button:nth-child(9){
  width: 65px;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media (max-width:545px){
  .keyboard-button{
    width: 40px;
    height: 55px;
    margin: 3px;

  }

  .row3 button:nth-child(9){
    width: 61px;
  }
}



@media (max-width:499px){
  .keyboard-button{
    width: 35px;
    height: 51px;
    margin: 2.9px;

  }

  .row3 button:nth-child(9){
    width: 54px;
  }
}

